html { 
    background: #f5f2ee; 
    color: #364857;
    font-family: Batang;
}

.credit {
    font-size: 20px;
    text-align: center;
}

.title {
    font-size: 40px;
    text-align: center;
}

.image { 
    height: 400px;
    width: auto;
}

.image
 {
     border-radius: 10px;
}

.recipes,
.links

 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/linen.jpg);
    background-size: 100%;
    background-clip: padding-box;
    padding: .25in;
}

#links {
    text-decoration: none;
    background-color: #cdc4ba;
    text-align: center;
    color: #364857;
    display: block;
    padding: 4px 3px;
    border-radius: 8px;
}


/*visited link*/ 
a:visited {
    color: #805b32;
    text-decoration-line:none;
    text-decoration: none
}

/*hover link*/

a:hover {
    color: #b37f46;
    text-decoration: none;
}

a:active 
{
    color: #b37f46;
    text-decoration: none;
}

a:link {
    color: #b37f46;
    text-decoration: none;
}

